.card-body.stretched-link {
    text-decoration: none;
    /* Remove o sublinhado */
    color: inherit;
    /* Herda a cor do texto do card */
}

.cinco{
    height: 500px;
}

.quatro {
    height: 400px;
    /* Ajuste a altura desejada em pixels */
}

.dois {
    height: 200px;
    /* Ajuste a altura desejada em pixels */
}

.footer {
    background-color: #f5f5f5;
    padding: 20px 0;
}

.footer p {
    margin-bottom: 10px;
}

body{
    background-color: #ffffff;
    /* background-image: url(../img/1f8b2d9637833adba2269f24fbea633b.jpg);
    background-repeat: no-repeat;
    background-size: 100% 82%; */

}

.nvb{
    background-color: #00c1ff;
}

.txt-principal{
    color:rgb(0, 0, 0)
}

.avt{
    background-image: url(../img/Design\ sem\ nome\ \(7\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.treino{
    
    background-image: url(../img/Design\ sem\ nome\ \(3\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tutorial{
    background-image: url(../img/Design\ sem\ nome\ \(4\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.perfil{
    background-image: url(../img/Design\ sem\ nome\ \(5\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.config{
    background-image: url(../img/Design\ sem\ nome\ \(6\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.card-text, .card-title{
    color: #ffffff
}

.prf{
    color: black;
}

.msg-senha{
    margin-top: 30px;
    color: rgb(238, 96, 96);
}