<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <style>
        .card-body.stretched-link {
            text-decoration: none; /* Remove o sublinhado */
            color: inherit;/* Herda a cor do texto do card */
        }
        .cinco{
            height: 500px; /* Ajuste a altura desejada em pixels */ 
        }
        .um{
            height: 100px;
        }
        .footer {
            background-color: #f5f5f5;
            padding: 20px 0;
        }
        .footer p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">MathQuest</a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto gap-2">
                    <li class="nav-item">
                        <button class="btn btn-primary" type="button">Login</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary" type="button">Cadastro</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        <section class="mt-5">
            <h2>Treinamento</h2>
            <p>Aprimore suas habilidades matemáticas com módulos interativos e desafiadores.</p>
        </section>
        <section class="mt-5">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="nes-container card cinco">
                        <div class="card-body">
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 mb-4">
                    <div class="um" >
                        <a href="" class="stretched-link">
                            <h5 class="nes-btn is-warning">Voltar</h5>
                        </a>
                    </div>
                </div>  
                <div class="col-xxl-4 mb-4">
                    <div class="um" >
                        <a href="" class="stretched-link">
                            <h5 class="nes-btn is-primary">Proximo</h5>
                        </a>
                    </div>
                </div>  
                <div class="col-xxl-4 mb-4">
                    <div class="um">
                        <a href="index.html" class="stretched-link">
                            <h5 class="nes-btn is-error">Sair</h5>
                        </a>
                    </div>
                </div>                      
            </div>    
        </section>
    </main>
    <footer class="footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>&copy; 2024 - Fiap</p>
                </div>
                <div class="col-sm-6">
                    <p>Desenvolvido por:</p>
                    <ul class="list-unstyled">
                        <li>Nome do Aluno 1</li>
                        <li>Nome do Aluno 2</li>
                        <li>Nome do Aluno 3</li>
                        <li>Nome do Aluno 4</li>
                        <li>Nome do Aluno 5</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>  
</body>
</html>